/*********************** FOOTER ************************/
footer {
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 30px 20px;
  text-align: center;
}

footer ul {
  padding: 30px;
  list-style: none;
}

footer p {
  padding-top: 30px;
  color: var(--white-color);
}

footer .pages-container li {
  padding: 5px;
  font-size: 0.8em;
}

footer hr {
  width: 30%;
  margin: auto;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.social-media-container li {
  padding: 10px;
}

footer .copyright {
  font-size: 0.7em;
}

.pages-container li a {
  position: relative;
  transition: all 0.2s ease-in;
}

.pages-container li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width 0.3s ease-in-out;
}

.pages-container li a:hover::after {
  width: 100%;
}

.social-media-container li {
  transform: scale(1);
  transition: all 0.2s ease-in;
}

.social-media-container li:hover {
  transform: scale(1.1);
}

.social-media-container li:hover a {
  color: var(--blue-color);
}

.copyright {
  padding-top: 30px;
}
