.login-signup-section h1 {
  padding-bottom: 20px;
}

.login-signup-container {
  background-color: var(--white-color);
  width: 100%;
  max-width: 450px;
  margin: 20px auto 10px;
  border-radius: 12px;
  overflow: hidden;
}

.login-signup-items {
  display: flex;
  justify-content: space-around;
}

.login-signup-section .login {
  width: 50%;
  padding: 20px;
  color: var(--pink-color);
  cursor: pointer;
}

.signup {
  background-color: var(--blue-color);
  width: 50%;
  padding: 20px;
  border-radius: 12px 0 12px 0;
  color: var(--white-color);
  cursor: pointer;
}

form {
  padding-bottom: 30px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 10px;
}

.signup-form {
  display: none;
}

.signup-form .form-input-container .form-input-item {
  border: 1px solid var(--blue-color);
}

.signup-form .form-input-container .form-input-item::placeholder {
  color: var(--blue-color);
}

.signup-form button {
  background-color: var(--blue-color) !important;
}

.form-input-container .form-input-item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--pink-color);
}

.login-signup-container:has(.signup:hover) .signup-form {
  display: block;
}

.login-signup-container:has(.signup:hover) .login-form {
  display: none;
}

.form-input-container input {
  color: var(--pink-color);
}

.form-input-container input::placeholder {
  color: var(--pink-color);
}
.form-input-container input:focus {
  background-color: var(--purple-color);
}

@media (min-width: 768px) {
  .login-signup-container {
    margin: 5px auto;
  }
}
