@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url(css/navbar.css); /* NAVBAR */
@import url(css/footer.css); /* FOOTER */
@import url(css/newsletter.css); /* NEWSLETTER */
@import url(css/calendar.css); /* CALENDAR */
@import url(css/form.css); /* FORM */
@import url(css/profil.css); /* PROFIL */
@import url(css/login-signup.css); /* LOGIN - SIGN UP */
@import url(css/booking.css); /* BOOKING */
@import url(css/confirmation.css); /* CONFIRMATION */

/*********************** GENERAL ************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --purple-color: #4d455d;
  --pink-color: #e96479;
  --blue-color: #7db9b6;
  --beige-color: #f5e9cf;
  --white-color: #fff;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

section {
  padding: 40px;
  background-color: var(--beige-color);
  text-align: center;
}

h1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--pink-color);
  text-align: center;
  padding-bottom: 50px;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
  color: var(--purple-color);
  padding-bottom: 50px;
}

p {
  font-size: 1em;
  color: var(--purple-color);
}

button {
  border: none;
  background-color: var(--blue-color);
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--white-color);
  font-size: 1.2em;
  width: fit-content;
  margin: 20px auto;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: var(--pink-color);
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

img {
  object-fit: cover;
}

.hidden {
  display: none;
}

.pink-button {
  background-color: var(--pink-color);
  color: var(--white-color);
}
.pink-button:hover {
  background-color: var(--purple-color);
}

.pink-outline-button {
  background-color: var(--white-color);
  color: var(--pink-color);
  border: 1px solid var(--pink-color);
}
.pink-outline-button a {
  color: var(--pink-color);
  transition: all 0.2s ease-in;
}
.pink-outline-button:hover a {
  color: var(--purple-color);
}
.pink-outline-button:hover {
  background-color: var(--white-color);
  border: 1px solid var(--purple-color);
}
/*********************** HERO SECTION ************************/

.hero-section {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.hero-section .image-container {
  width: 100vw;
  height: 100vh;
}

.hero-section .image-container .image-wrapper {
  display: flex;
  animation: slide 16s infinite;
}

.image-wrapper img {
  height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0);
  }
  30% {
    transform: translate(-100vw);
  }
  45% {
    transform: translate(-100vw);
  }
  55% {
    transform: translate(-200vw);
  }
  70% {
    transform: translate(-200vw);
  }
  75% {
    transform: translate(-300vw);
  }
  90% {
    transform: translate(-300vw);
  }
  100% {
    transform: translate(0);
  }
}

.hero-section .img-content {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.hero-section .text-content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0.8);
  padding: 30px 50px;
  border-radius: 12px;
}

/* Tablettes */
@media (min-width: 768px) {
  .hero-section .img-content {
    opacity: 1;
  }

  .hero-section .text-content {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 30px 50px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-content {
    left: auto !important;
    right: 0 !important;
  }
}

/***********************  MOVIES AND NEWS SECTION ************************/

.bg-white {
  background-color: var(--white-color);
}
.bg-white .item {
  background-color: var(--beige-color) !important;
}

.container-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
}

.container-section .container .item {
  margin: 10px;
  background-color: var(--white-color);
  padding-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  width: 250px;
}

.container .item {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.container .item:hover {
  transform: scale(1.05);
}

.container-section .container .item img {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0px;
}

.container-section .container .item .infos {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  padding: 10px 20px 0px 20px;
}
.container-section .container .item .infos .title {
  font-size: 1.2em;
  padding-bottom: 5px;
}
.container-section .container .item .infos .author {
  font-weight: 100;
  padding-bottom: 5px;
}
.container-section .container .item .infos .year {
  font-size: 0.8em;
}

.container-section .container .item .date-hour {
  display: flex;
  color: var(--purple-color);
  justify-content: left;
  align-items: center;
  padding-bottom: 5px;
}

.container-section .container .item i {
  padding-right: 10px;
}

/***********************  MOVIES  ************************/
.container-section .container .item .movies-projection {
  padding: 20px 20px 0px 20px;
}
/***********************  NEWS  ************************/
.container-section .container .news-item img {
  height: 200px;
}
.container-section .container .extrait {
  text-align: left;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-section .container a {
  color: var(--blue-color);
  text-align: center;
  margin: auto;
  font-size: 0.8em;
}

/*********************** LOCALISATION ************************/
.padding {
  padding-top: 80px;
}
.padding h1 {
  padding-bottom: 30px;
}

.contact-section h4 {
  padding-bottom: 30px;
}

.contact-section p {
  padding-bottom: 20px;
}

.contact-section .contact-infos-container {
  padding-top: 30px;
}

.localisation-container-section .contact-infos-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.localisation-container-section .contact-infos-item {
  padding: 0 10px 20px 10px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: var(--purple-color);
}
.localisation-container-section .contact-infos-item p {
  padding-left: 10px;
}
.google-map {
  padding-top: 10px;
  overflow: hidden;
}
.google-map iframe {
  width: 90%;
  height: 300px;
  border-radius: 12px;
}
.itinerary {
  margin-top: 20px;
}
button.itinerary {
  font-size: 0.8em;
  padding: 5px 20px;
}

@media (min-width: 768px) {
  .full-contact-container {
    display: flex;
  }

  .localisation-container-section .google-map {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .localisation-container-section .google-map iframe {
    height: 200px;
    border-radius: 12px;
  }

  .localisation-container-section .contact-flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .localisation-container-section .contact-infos-container {
    margin: 20px;
  }
}

/*********************** HERO MOVIES AND NEWS SECTION ************************/

.hero-linear-section {
  padding: 0;
  display: flex;
  transition: all 0.5s ease-in;
}

.hero-linear-section img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.hero-linear-section .text-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(77, 69, 93, 0) 0%,
    rgba(77, 69, 93, 0.9) 30%,
    rgba(77, 69, 93, 1) 50%
  );
  padding: 30px 50px;
}

.hero-linear-section h1 {
  padding-top: 100px;
  padding-bottom: 30px;
}

.hero-linear-section h4 {
  padding-bottom: 30px;
  font-size: 1em;
  color: var(--white-color);
}

.hero-linear-section .author {
  font-weight: 100;
  padding-bottom: 5px;
  color: var(--white-color);
}
.hero-linear-section .year {
  font-size: 0.8em;
  padding-bottom: 20px;
  color: var(--white-color);
}

.hero-linear-section .movies-projection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  padding-bottom: 20px;
  font-size: 1em;
}

.hero-linear-section .movies-projection .date-hour {
  padding: 10px 20px;
}

.hero-linear-section .movies-projection p {
  padding-top: 10px;
  color: var(--white-color);
}

.hero-linear-section .infos-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-linear-section .infos-content .infos-item {
  padding: 0 20px;
  color: var(--blue-color);
  transition: all 0.2s ease-in;
}

.hero-linear-section .infos-content .infos-item:hover {
  color: var(--pink-color);
}

.hidden-content {
  display: none;
  color: var(--white-color);
  transition: all 0.5s ease-in;
  background-color: var(--purple-color);
  font-size: 1em;
  font-weight: 200;
}

.hidden-content h3 {
  padding-bottom: 20px;
}

.hidden-content h3,
.hidden-content p {
  color: var(--white-color);
  text-align: left;
}

.hero-linear-section:hover ~ .hidden-content,
.hero-linear-section:focus-within ~ .hidden-content {
  display: block;
}

.hero-linear-section .infos-content .infos-item p {
  padding-top: 10px;
  color: var(--blue-color);
  font-size: 1em;
  transition: all 0.2s ease-in;
}
.hero-linear-section .infos-content .infos-item:hover p {
  color: var(--pink-color);
}
.hero-linear-section .infos-content .infos-item i {
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .hero-linear-section .text-content {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      -90deg,
      rgba(77, 69, 93, 0) 0%,
      rgba(77, 69, 93, 0.9) 30%,
      rgba(77, 69, 93, 1) 40%
    );
    padding: 30px 50px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-linear-section img {
    height: 100vh;
    margin-left: 30%;
    width: 70%;
    object-fit: cover;
  }
}

/*********************** QUOTE ************************/

blockquote {
  quotes: "“" "”";
  position: relative;
}
.quote {
  background-color: var(--blue-color);
}
.quote h4 {
  padding: 80px;
  color: var(--white-color);
}
blockquote:before,
blockquote:after {
  content: "";
  position: absolute;
  font-size: 8em;
  color: var(--white-color);
}
blockquote:before {
  content: open-quote;
  left: 5%;
  top: 0%;
}
blockquote:after {
  content: close-quote;
  right: 5%;
  bottom: 0%;
}
